let mapleader=" "

set easymotion
set surround
set commentary
set highlightedyank
set notimeout

set which-key
let g:WhichKey_ShowVimActions="true"

set ideajoin
set ideamarks
set idearefactormode=select
set clipboard=ideaput
set clipboard+=unnamed
set scrolloff=5

set incsearch
set rnu
set wrap
set gd
set hlsearch

map <leader>ca <Action>(ShowIntentionActions)
map <leader>rn <Action>(RenameElement)
map \          <Action>(SelectInProjectView)
map <leader>a  <Action>(ActivateStructureToolWindow)
map <leader>ws <Action>(GotoSymbol)
map <leader>ds <Action>(GotoSymbol)
map <leader>f  <Action>(ReformatCode)
map <leader>q  <Action>(ActivateProblemsViewToolWindow)
map <leader>sf <Action>(GotoFile)
map <leader>sg <Action>(FindInPath)
map <leader>s. <Action>(RecentFiles)
map [d         <Action>(GotoPreviousError)
map ]d         <Action>(GotoNextError)
map {          <Action>(MethodUp)
map }          <Action>(MethodDown)
map K          <Action>(ShowHoverInfo)

